
body{
	background:blue;
	font-family: 'Darker Grotesque', sans-serif;height:  
}
h1 {
color:red;
}
ol{
	font-weight:bold;
}
a{
	color:cyan;
	text-decoration:none;
}

a
{color:red;}

#cool
{border-style:solid;}
#cool
{border-radius:20px;}
#cool{background:white;}

#img-float {
	float:left;
	margin:40px;
	width:300px;
}
.p-class{
	margin:15px;
	padding:15px;
}
#div-float{
	border:solid 5px green;
	background:red;
	overflow:auto;
}